 /*
 H1
 	font-family: 'Slabo 27px', serif;
 		<subtitle>
 		
	font-family: 'Open Sans', sans-serif;
		<content>
	font-family: 'Acme', sans-serif;
	 	<Title>

/*

Global styles

*/

	body {
		font-family: 'Acme'
		color:red;
		background-color: darkred ;

	}
h1
{font-family:'Acme'
background-color:blue;
 }
h1{ font-family:'Acme'
background-color:blue;
 }


/*













 