/*
H1 
font-family: 'Chela One', cursive;

Titles
font-family: 'Lato', sans-serif;

Content
font-family: 'Open Sans', sans-serif;


dark blue #1A1F2B
blue #30395C;
light blue #4A6491
orange #FA683C
off white #FAFAFA

*/

/*
New options
h1--font-family: 'Merienda', cursive;
h2--font-family: 'Ubuntu', sans-serif;
h3--font-family: 'Josefin Sans', sans-serif;
Main menu--font-family: 'Fira Sans', sans-serif;
Content--font-family: 'Dosis', sans-serif;
*/




/*Global styles*/
body{
	font-family: 'Dosis', sans-serif;
	color:black;
}


a{
	color: #000D82;
	
}

a:hover{
	color:  #FA683C;

}

h1{
	/*font-family: 'Chela One', cursive;*/
	/*font-family: 'Fjalla One', sans-serif;*/
	font-family: 'Merienda', cursive;
	color: white;
}

h2{
	color:white;
	/*font-family: 'Fjalla One', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
}

h3{
	color: #30395C;
	font-family: 'Josefin Sans', sans-serif;
}


#main-menu{
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
}