body{
	font-family: 'Roboto', sans-serif;
	color:#FF7666;
	background-color: #ECE00B;



}


h1{
	font-family: 'Open Sans', sans-serif;
	color:FF9B01;


}


mis{
	color: white;
	font-style:italic;
	font-size: 140%;
	
	}
