/*
	dark brown:#1B0B08;
	brown:#4F0A04;
	dark blue:#395F87;
	blue:#4EA1D1;
	orange:#FC9E27;

h1,h2,h3,h4,h5,h6
    font-family: 'Roboto Slab', serif;
    phargrape
    font-family: 'Lato', sans-serif;
    links
    font-family: 'Lora', serif;
*/

/*body{
	font-family: 'Roboto Slab', serif;
	color: #4EA1D1;

	}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Roboto Slab', serif;
	color: #FC9E27;

}
p{
	font-family: 'Lato', sans-serif;
	color:#4F0A04;
}



