/*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

black:050505;
offwhite:FFF1FB;
light purple:B00090;
yellow:F2F000;
purple:B00F67;
*/

body{
	font-family: 'Open Sans', sans-serif;
	background-color:#FFF1FB;	
}
footer{
	text-align:center;
	color:#050505;
	
}
#header{
	background-color:#FFF1FB;
	border-bottom:2px solid #B00F67;
}
h1,h2{
	color:#050505;
	font-family: 'Lato', sans-serif;
	
}

 .button{
	 background-color:#B00F67;
	 width:100px;
	 height:30px;
	 color:#FFF1FB;
	 
 }
 .button:hover {
	background-color:#B00090; 
 }
 .main-menu{
	color:#FFF1FB;	
 }
.main-menu:hover {
	color:#B00090; 
 }
 a{
	color:#B00F67;
	
 }
 a:hover{
	color:#B00090; 
 }
 .hgroup{
	padding:0;
}
.hgroup{
	 display:inline-block;
 }