	body{
		background-color: #FCFFB9;
	}
	
	.container{
		margin:0 auto;
		width: 1240px;
		padding:0 20px;
	}

	.container li{
		display: inline-block;
	}

	header{
		background:#00959C;
		top: 0;
		left: 0;
		position: fixed;
		width: 100%;
		border-bottom: solid #2980B9;


	}


	/*main menu*/
	#main-menu li{
		display: inline-block;
	}

	#hg-group{
		display: inline-block;

	}


 /*footer*/
	footer{
		/*background-color:#4A6491;*/
		color: white;
		background:#00959C;
	}

	footer a{
		color: blue;
	}

.content-area{
	margin-top: 232px;
}

.content-area >div{ /*first level children in the cintent-area div*/
	display: inline-block;
	vertical-align: top;
}

.left-pane{
	width: 30%;
	padding: 2px;
	/*background: pink;*/
	
}


.right-pane{
	width: 69%;
	/*background: lightblue;*/
}

.feature-boxes{
	text-align: center;
	margin-top:30px; 

}

.feature-boxes>div{
	/*background: yellow;*/
	display: inline-block;
	width:30%;
	border: 1px solid;
	min-height: 400px;
	vertical-align: top;
}



#global-search{
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 30px;

}

.social-media li{
	display: inline-block;
}


.map{
	width: 100px;
}